html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  background-color: #33A6B2;
  color: black !important;
}
.navbar {
  margin-bottom: 0;
}
.container {
  width: 100%;
  padding: 0px;
}
.flex {
  flex: 1 1 auto;
}
.flex-fixed {
  flex: 0 0 auto;
}
.flex-row,
.flex-col {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.flex-row {
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
}
.flex-col {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.scroll {
  overflow: auto;
}
.scroll-x {
  overflow-x: auto;
}
.scroll-y {
  overflow-y: auto;
}
.full-width {
  width: 100%;
}
.main {
  /*   background: lightgreen; */
}
.cafe-category {
  height: 50px;
}
.cafe-category .citem {
  height: 100%;
  width: 20%;
  display: inline-block;
  padding: 5px 1px;
}
.cafe-category .citem .btn {
  height: 100%;
  padding: 9px 0;
  width: 100%;
  border-radius: 0px;
}
.cafe-category .citem .btn:hover {
  margin-top: 0;
  border-bottom-width: 0 1px 4px 1px;
}
.cafe-category .citem .btn-group .dropdown-menu > li > a:hover {
  background-color: #5bc0de;
}
.cafe-category .citem.search {
  width: 5%;
}
.cafe-item-list {
  margin: 15px 0 0 0px;
}
.cafe-item-list .item {
  height: 90px;
  width: 20%;
  display: inline-block;
  padding: 5px 5px;
  margin: 0;
}
.cafe-item-list .item .btn {
  height: 100%;
  width: 100%;
  border-radius: 0px;
  border: none;
  padding: 2px;
}
.cafe-item-list .item .btn:hover {
  margin-top: 0;
}
.cafe-item-list .pitem {
  width: 33.33333333%;
  height: 100px;
}
.imgcontainer {
  font-weight: bold;
  color: black;
  height: 100%;
  padding: 2px;
}
.imgcontainer .img {
  margin: auto;
}
.imgcontainer .itemname {
  height: 80%;
  white-space: normal;
}
.imgcontainer .itemname .col-md-9 {
  padding-right: 0px;
  padding-left: 0px;
}
.imgcontainer .itemname .col-md-3 {
  padding-right: 0px;
  padding-left: 0px;
}
.imgcontainer .itemprice {
  height: 20%;
  text-align: right;
  padding: 0;
}
.footer {
  height: 50px;
  background: #eeeeee;
}
.img-responsive {
  margin: auto !important;
}
.nav-tabs .nav-justified > li.active > a:hover {
  padding-top: 0px;
  padding-bottom: 0px;
}
.nav-tabs.nav-justified > li > a {
  border-radius: 0;
  border-bottom: 1px solid  #33A6B2;
}
.cafe-sidebar {
  margin-top: 5px;
  padding: 0px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.cafe-sidebar .tabbable {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.cafe-sidebar .tab-content {
  flex: 1 1 auto;
  overflow-y: auto;
}
.cafe-sidebar .tab-content .modal-body {
  padding: 40px 2px;
}
.cafe-sidebar .nav-tabs {
  flex: 0 0 auto;
}
.cafe-sidebar .nav-tabs .li .a {
  border-right: 1px solid red;
}
.cafe-sidebar .nav-tabs {
  border-right: 1px solid red;
}
.cafe-sidebar .nav-tabs .active a {
  background-color: #7BBC28;
  border-width: 0 1px 0px 1px;
}
.cafe-sidebar .nav-tabs .active a:hover {
  background-color: #7BBC28;
  border-width: 0 1px 0px 1px;
}
.label-align {
  text-align: left !important;
}
.product-header {
  /*   border: 1px solid blue; */
}
.product-footer {
  border: 1px solid red;
}
.padditem {
  margin-top: 15px;
}
.padditem .form-group {
  margin: 0px 0px 15px 0px;
}
.pvrr {
  border-right: 1px solid black;
  margin-right: -1px;
}
.pvrl {
  border-left: 1px solid black;
  margin-left: -1px;
}
.label-center {
  text-align: center !important;
}
.ptitleright {
  padding-top: 10px;
  font-weight: bold;
  color: #5bc0de;
}
.pedit .btn {
  width: 55px;
}
.cafe-menu {
  padding: 0px;
}
.form-horizontal .form-group {
  margin-left: 0px;
  margin-right: 0px;
}
.form-horizontal .form-group .label {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.form-horizontal .form-group .control-label {
  padding-left: 0px;
  padding-right: 0px;
}
.alert {
  margin-bottom: 0px;
}
.panel-body {
  padding: 0px;
}
.glyphicon {
  cursor: pointer;
}
.navbar {
  border-radius: 0px;
  background-color: #4D4478;
}
.footer {
  background-color: #4D4478;
}
.panel-left {
  margin-top: 23px;
}
.panel-left .panel-heading .panel-title {
  display: inline-block;
}
.panel-left .panel-heading .panel-title .span {
  display: inline-block;
}
.panel-left .panel-body .form-control {
  margin-top: 10px;
}
.panel-left .panel-body .list-group .list-group-item {
  margin-top: 5px;
}
.flexnopadding .col-md-8 {
  padding-left: 2px;
  padding-right: 2px;
}
.flexnopadding .col-md-3 {
  padding-left: 2px;
  padding-right: 2px;
}
.flexnopadding .col-md-1 {
  padding-left: 0px;
  padding-right: 0px;
}
.nocursor {
  cursor: default;
}
/*# sourceMappingURL=/assets/main-0.0.1.css.map */